@import url("../skeleton.css");

@import url("../normalize.css");

@import url("../reset.css");

@import url("https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css ");

@import url("../footer.css");

@import url("../header.css");

@import url("content.css");