

main{
    display: flex;
    align-items: center;
    height: 130vh;
    background-color: rgb(243,243,241);
    padding: 100px 0 0 0;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: tranparent;
    width: 1000px;
    margin: 0 auto;
}

h1.project-name{
    text-align: center;
    font-family: "微軟正黑體";
    font-size: 25px;
}

.title{
    margin: 55px 0 30px 10px;
    font-family: "微軟正黑體";
    font-weight: bold;
    color: rgb(189, 70, 60);
}

.payment-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.payment-method-toggle{
    position: relative;
    border: black solid 1px;
    border-radius: 5px;
    width: 130px;
    text-align: center;
    padding: 8px;
    margin: 20px 0 0 0;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 40;
}

.payment-method-toggle span{
    margin: 0 5px 0 0;
}

.payment-method-toggle .fa-caret-down{
    position: absolute;
    top: 17%;
    right: 5%;
    font-size: 25px;
    z-index: 50;
}

.payment-method-toggle.is-opened{
    border-radius: 5px 5px 0 0;
}


.payment-method{
    position: absolute;
    top: 100%;
    left: 0;
    height: 0px;
    overflow: hidden;
    text-align: center;
    border: black solid 0px;
    border-radius: 0 0 5px 5px;
    background-color: rgb(243,243,241);
    width: 100%;
    transition: 0.2s ease;
    z-index: 50;
    cursor: pointer;
}

.payment-method li{
    padding: 10px 0;
    border-bottom: black solid 1px;
}

.payment-method li:hover{
    background-color: rgb(223,223,221);
}

.payment-method li:last-child{
    border: none;
}

.payment-method.is-opened{
    height: 75px;
    border: black solid 1px;
}

.payment-form{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
}

.payment-wrapper .separate-line{
    height: 100%;
    width: 1px;
    margin: 0 20px;
    background-color: gray;
}

.payment-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    font-family: "微軟正黑體";
}

.payment-detail{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 30px 0;
}

.payment-detail hr{
    margin: 20px 0 10px 0;
}

.payment-detail  .pay-content{
    font-weight: bold;
    margin: 10px 0 0 10px;
    font-size: 20px;
}

.payment-description .money{
    font-weight: bold;
    font-size: 25px;
}

.website-description{
    padding: 0;
    line-height: 25px;
}

.website-description h1{
   font-weight: bold;
   font-size: 17px;
   padding: 20px 0 0 0;
   margin: 0 0 10px 0;
}

.website-description p{
    font-size: 14px;
}

.payment-info{
    font-family: "微軟正黑體";
    margin: 0 0 30px 0;
}

.payment-info h1{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.payment-info p{
    padding: 0 0 20px 20px;
    line-height: 20px;
}

.card-info{
    display: flex;
    flex-direction: column;
    font-family: "微軟正黑體";
}

.card-info h1{
    font-weight: bold;
    font-size: 20px;
}

.card-info .form-group{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-info .form-group label{
    font-weight: bold;
    margin: 0 0 10px 0;
}

.card-info .form-group input{
    width: 60%;
}

.expir{
    display: flex;
}

.card-info .form-group select{
    width: 15%;
    margin: 0 20px 0 0;
    cursor: pointer;
}

select{
  height: 40px;
}

option{
    padding: 5px;
}

.card-info .form-group #security-code{
    width: 15%;
}

.card-info hr{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 95%;
}

.card-info input[type=submit]{
    width: 96%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0 0 0;
    font-size: 20px;
}


@media(max-width: 1050px){
    .content{
        width: 720px;
    }

    main{
        height: 150vh;
    }
}

@media(max-width: 750px){
    .content{
       width: 450px;
   }

   main{
       height: 180vh;
       padding: 0;
   }

   .payment-wrapper{
       flex-direction: column;
       align-items: center;
   }

   .website-description{
       display: none;
   }

   .card-info .form-group label{
        text-align: center;
    }

    .card-info .form-group input{
        margin: 0 auto;
    }

    .expir{
        justify-content: center;
    }

    .card-info .form-group select{
        width: 30%;
    }

    .card-info .form-group #security-code{
        width: 30%;
    }

    .payment-description{
        order: 1;
        width: 100%;
    }

    .payment-form{
        order: 2;
    }

    .payment-detail{
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        width: 100%;
        border-bottom: lightgray solid 1px;
    }

    .payment-detail div{
        text-align: center;
    }

    .payment-detail .pay-content{
        margin: 5px 0 0 0;
    }


}

@media(max-width: 500px){

}